.btn {
  align-items: center;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
}
.btn-stretch {
  width: 100%;
}
.btn-stretch-2 {
  width: 50%;
}
.btn-stretch-3 {
  width: 33.33%;
}
.btn-stretch-4 {
  width: 25%;
}
.btn-stretch-5 {
  width: 20%;
}
.btn-icon {
  margin-right: 3px;
}

.btn-outline-default {
  background-color: transparent;
  border-color: var(--bg-default);
  color: var(--fg-default);
  fill: var(--fg-default);
}
.btn-outline-primary {
  background-color: transparent;
  border-color: var(--fg-primary);
  color: var(--fg-primary);
  fill: var(--fg-primary);
}
.btn-outline-secondary {
  background-color: transparent;
  border-color: var(--fg-secondary);
  color: var(--fg-secondary);
  fill: var(--fg-secondary);
}
.btn-outline-error {
  background-color: transparent;
  border-color: var(--fg-error);
  color: var(--fg-error);
  fill: var(--fg-error);
}
.btn-outline-warning {
  background-color: transparent;
  border-color: var(--fg-warning);
  color: var(--fg-warning);
  fill: var(--fg-warning);
}
.btn-outline-success {
  background-color: transparent;
  border-color: var(--fg-success);
  color: var(--fg-success);
  fill: var(--fg-success);
}
.btn-solid-default {
  background-color: var(--bg-default);
  border-color: var(--bg-default);
  color: var(--fg-default);
  fill: var(--fg-default);
}
.btn-solid-primary {
  background-color: var(--fg-primary);
  border-color: var(--fg-primary);
  color: #FFFFFF;
  fill: #FFFFFF;
}
.btn-solid-secondary {
  background-color: var(--fg-secondary);
  border-color: var(--fg-secondary);
  color: #FFFFFF;
  fill: #FFFFFF;
}
.btn-solid-error {
  background-color: var(--fg-error);
  border-color: var(--fg-error);
  color: #FFFFFF;
  fill: #FFFFFF;
}
.btn-solid-warning {
  background-color: var(--fg-warning);
  border-color: var(--fg-warning);
  color: #FFFFFF;
  fill: #FFFFFF;
}
.btn-solid-success {
  background-color: var(--fg-success);
  border-color: var(--fg-success);
  color: #FFFFFF;
  fill: #FFFFFF;
}
.btn-transparent-default {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-default);
  fill: var(--fg-default);
  padding: 0;
}
.btn-transparent-primary {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-primary);
  fill: var(--fg-primary);
  padding: 0;
}
.btn-transparent-secondary {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-secondary);
  fill: var(--fg-secondary);
  padding: 0;
}
.btn-transparent-error {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-error);
  fill: var(--fg-error);
  padding: 0;
}
.btn-transparent-warning {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-warning);
  fill: var(--fg-warning);
  padding: 0;
}
.btn-transparent-success {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-success);
  fill: var(--fg-success);
  padding: 0;
}