.form-group {
  margin: 10px 5px 0;
  position: relative;
}

.form-group-error {
  color: var(--fg-error);
  margin-bottom: 20px;
}

.form-group-label {
  color: var(--fg-default);
  font-weight: 600;
  line-height: 37px;
  white-space: nowrap;
}

.form-group-error-text {
  bottom: -20px;
  display: block;
  position: absolute;
}

.form-control {
  background-clip: padding-box;
  background-color: var(--bg-secondary);
  border: 1px solid rgb(0, 0, 0, 0.40);
  color: var(--fg-default);
  display: block;
  flex-grow: 1;
  height: auto;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

.form-group-inline .form-control {
  background-color: transparent;
  border-width: 0;
}

.form-control:focus {
  outline: none;
}

.form-group-inline {
  background-color: var(--bg-secondary);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bg-inset);
  display: flex;
}

.form-group-inline .form-group-label {
  margin: 0 10px;
}

.form-group-field {
  display: flex;
  flex-grow: 1;
}

.field-textlist-display {
  display: flex;
  margin-top: 5px;
}
.field-textlist-display-input {
  width: calc(100% - 25px);
}
.field-textlist-remove {
  margin-left: 5px;
}

.field-metadata {
  flex-grow: 1;
}
.field-metadata-add {
  margin-top: 5px;
  width: 100%;
}
.field-metadata-display {
  display: flex;
  margin-top: 5px;
}
.field-metadata-display-key {
  width: calc(30% - 5px);
}
.field-metadata-display-value {
  margin-left: 5px;
  width: calc(70% - 25px);
}
.field-metadata-remove {
  margin-left: 5px;
}