body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.theme-light {
  --bg-default: #909090;
  --bg-primary: #FFFFFF;
  --bg-secondary: #FCFCFC;
  --bg-inset: #EFEFEF;
  --bg-accent: #F0F0F0;
  --fg-default: #343434;
  --fg-inverse: #FFFFFF;
  --fg-primary: #1474FC;
  --fg-secondary: #F43A80;
  --fg-error: #DC3545;
  --fg-warning: #FFC107;
  --fg-success: #28A745;
}

.theme-dark {
  --bg-default: #909090;
  --bg-primary: #2F343F;
  --bg-secondary: #272C36;
  --bg-inset: #373D49;
  --bg-accent: #303641;
  --fg-default: #929AAD;
  --fg-inverse: #373D49;
  --fg-primary: #1474FC;
  --fg-secondary: #F43A80;
  --fg-error: #DC3545;
  --fg-warning: #FFC107;
  --fg-success: #28A745;
}